.sobremi {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10%;
}

.titulo {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 4px rgb(219, 71, 170);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 60px;
    margin-top: 3%;
    margin-bottom: 0%;
    font-weight: 400;
}

.holasoy {
    padding-top: 100px;
    color: #defe47;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px;
}

.descripcion {
    color: rgb(255, 255, 255);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 23px;
    margin-top: 0%;
    margin-bottom: 8%;
    padding-top: 0%;
} 
.loquehagolink {
    text-align: center;
    text-decoration: none;
    color: rgb(239, 255, 22);
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    max-width: 40%;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
    background-color: rgba(146, 146, 146, 0.452);
    color: #defe47;
    text-shadow: 1px 1px 2px #defe47;
    font-weight: 600;
    border-radius: 100px;
}
.loquehagolink:hover{
    background-color: rgba(146, 146, 146, 0.171);
}
.loquehagolink:focus{
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(146, 146, 146, 0.171);

}
.textoDescripcion {
    line-height: 1.4;
}

 .divImagen .mujerprogramadora {
    max-width: 500px;
    width: 100%;
     }

/************* @media ***********/
@media (max-width:1024px){
    .sobremi{
        width: 80%;
        margin-top: 12%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .divImagen .mujerprogramadora {
        width: 115%;
    }
}
@media (max-width:768px){ /*IPAD*/
    .sobremi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 0%;
    }
    .divImagen .mujerprogramadora{
        margin-top: 10%;
    }

}
@media (max-width:480px){
    .divImagen .mujerprogramadora{
        width: 100%;
    }

}
@media (max-width:320px){ /*CELULAR*/
    .titulo{
        font-size: 2.5em;
    }

}
@media (max-width: 550px){
    .divImagen .mujerprogramadora{    
        width: 100%;
    }
}
@media (max-width: 630px){
    .divImagen .mujerprogramadora{     
        width: 100%;
    }
}
