.contactameyescribime{ 
    margin:10%;
    margin-top: 0%;
    padding-top: 10%; /*no le doy el border radius/background color al contenedor padre porque así no quedaria bien el padding*/
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

/*######CONTACTAME######*/

.contenedorContactame{ 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--fondo-cards);
    width: 50%;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 70px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}
.tituloContactame{ 
    margin-top: 0px;
    margin-bottom: 15px;
    color: var(--color-titulo);
    text-shadow: var(--sombra-titulo);
    font-family: var(--fuente-titulo);
    letter-spacing: 1px;
    font-size: var(--tamaño-titulo);
    font-size: 60px;
    font-weight: 400;

}
.parrafoContactame{ /*lorem debajo del titulo*/
    margin-bottom: 2em;
    font-size: 1.2em;
    margin-right: 60px;
}
.listaContactame{ /*ul que contiene li>a>i*/
    line-height: 52px;
    font-size: 1.2em;
    list-style: none;

}

.linkIconoContactame{ /* link y el icono*/
    text-decoration: none;
    color: white;
   
}
.contactameRedSocialicono{ /*icono y solo icono*/
    margin-right: 20px;
    color: #defe47;
    border-radius: 50%;
}
.linkIconoContactame:hover{
    color: #defe47;
}
.linkIconoContactame:hover .contactameRedSocialicono{
    background-color: #defe47;
    padding: 6px;
    color: rgb(37, 37, 37);
}
.linkIconoContactame:focus{
    padding: 10px;
    border-radius: 22px;
    box-shadow: 0px 0px 8px #defe47;
}

 
/*######ESCRIBIME######*/

.contenedorEscribime{ /*Contenedor padre de escribime*/
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--fondo-cards);
    width: 50%;
    display: flex;
    font-family: var(--fuente-descripcion);
    font-size: 20px;
    text-align: left;
    color: white;
    flex-direction: column;
    padding-top:60px;
    padding-bottom: 40px;
    padding-right: 70px;
}
.tituloEscribime{ /*H2 de escribime*/
    margin-top: 0px;
    margin-bottom: 20px;
    color: var(--color-titulo);
    text-shadow: var(--sombra-titulo);
    font-family: var(--fuente-titulo);
    letter-spacing: 1px;
    font-size: var(--tamaño-titulo);
    font-weight: 400;
}

.formulario{
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.nombreapellido{ 
    display: flex;
    flex-direction: row;
}
.nombreform{
    width: 50%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.apellidoform{
    width: 50%;
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 5px;
    margin-bottom: 10px;
}
input[type="text"]{ 
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border:rgba(83, 83, 83, 0.452); 
    background-color: rgba(83, 83, 83, 0.452);
}
input[type="email"]{
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border:rgba(83, 83, 83, 0.452); 
    background-color: rgba(83, 83, 83, 0.452);
 
}
textarea{
    color: rgb(255, 255, 255);
    border-radius: 19px;
    border:rgba(83, 83, 83, 0.452); 
    background-color: rgba(83, 83, 83, 0.452);
}

input[type="submit"]{
    border: var(--color-boton);
    background-color: var(--color-boton);
    border-radius: 50px 50px 50px 50px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px #defe47;
    letter-spacing: 1px;
    color: #defe47;
    margin-top: 15px;
    max-width: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: var(--color-hoverboton);
    box-shadow: 0px 0px 10px var(--color-hoverboton);
}
input:focus{
    box-shadow: 0px 0px 7px #b85cac;
    outline: 0;
}

input:required:valid:focus{
  box-shadow: 0px 0px 7px rgb(1, 134, 1);
  background: rgba(83, 83, 83, 0.452) url(../imagenes-y-logos/check.png) no-repeat 95% center;
}

input:required:invalid:not(:placeholder-shown):focus{
  box-shadow: 0px 0px 7px rgb(250, 2, 2);
  background: rgba(83, 83, 83, 0.452) url(../imagenes-y-logos/eliminar.png) no-repeat 95% center;
}

textarea:focus{
    outline: none;
    box-shadow: 0px 0px 7px #b85cac;
}

/********** @media "contactame" **********/
@media (max-width:1024px){
    .parrafoContactame{
        font-size: 1.2em;
        margin-right: 10%;
    }
}
@media (max-width:768px){
    .contactameyescribime{
        margin: 2% 5% 5% 5%;
        display: flex;
        flex-direction: column;
        background-color: rgb(27, 27, 27);
    }
    .contenedorContactame{ 
        width: 100%;
        padding-top: 0px;
        padding-bottom: 40px;
        padding-left: 0px;
        background-color: rgb(27, 27, 27);
    }
    .listaContactame{ 
        max-width: 100%;
        font-size: 1.2em;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    .linkIconoContactame{
       margin-right: 98px;
    }
}
@media (max-width: 630px){
    .linkIconoContactame{
       margin-right: 35px;
    }
}
@media (max-width:480px){
    .contactameyescribime{
        margin: 2% 5% 5% 5%;
        display: flex;
        flex-direction: column;
        background-color: rgb(27, 27, 27);
    }
    .contenedorContactame{ 
        width: 100%;
        padding-top: 0px;
        padding-bottom: 40px;
        padding-left: 0px;
        background-color: rgb(27, 27, 27);
    }
    .listaContactame{ 
        max-width: 100%;
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .listaContactame{
        font-size: 1.4em;
    }
    .linkIconoContactame{
        display: inline-block;
        width: 100%;
        margin-left: 0%;
    }
}
@media (max-width:320px){
    .listaContactame{
        font-size: 1.1em;
    }
    .linkIconoContactame{
        display: inline-block;
        width: 100%;
        margin-left: 0%;
    }
     .contactameRedSocialicono{ 
        margin-right: 0px;
    }
}

/********** @media "escribime" **********/

@media (max-width:768px){
    .contenedorEscribime{ /*Contenedor padre de escribime*/
        width: 100%;
        background-color: rgb(27, 27, 27);}
    
}
@media (max-width: 630px){
    .contenedorEscribime{
        padding-right: 0%;
    }
  
}

@media (max-width:320px){
    .nombreapellido{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .nombreform{
        margin-right: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .apellidoform{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    input[type="submit"]{
        max-width: 40%;
    }
   
}


