footer{
    border: 0;
    margin-left: 5%;
    margin-right: 5%;
    border-top: 1px solid #defe47;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px 40px;
    background-color: rgb(27, 27, 27);
}
.listaFooter {
    word-spacing: 20px;
    display: inline;
    margin-bottom: 2%;
}
.footerItem {
    display: inline;
}
.footerLink {
    text-decoration: none;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 100%;
}
.hechocon {
    margin-top: 5%;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 110%;
}

/*##### ZONA ICONOS ####*/

.listaIconsFooter{ /*LISTA que contiene los li + el a + el <i> .footerRedSocialIcono */
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerIconoLink{ /*LINK  que contiene el i .footerRedSocialIcon*/
    color: white;
    background-color: rgb(27, 27, 27);
    border: 1px solid white;
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    margin-left: 20px;
    border-radius: 50%;
    
    text-decoration: none;
}
.footerIconoLink:hover{
    color: rgb(27, 27, 27);
    background: white;
    border: 1px solid white;
}
.footerIconoLink:focus{
    box-shadow: 0px 0px 8px #b85cac;
}

.footerRedSocialIcono{ /*Icono y solo icono*/
    width: 100px;
    height: 100px;
}
@media (max-width: 550px){
    .listaFooter{
        display: none;
    }
    .listaIconsFooter{
        margin-left: 5%;
        margin-right: 5%;
    }    
 }
    