.seccionProyectos{/*Div padre1*/
    display: flex;
    flex-direction: column;

}
.tituloProyectos { /*h2 titulo*/
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 4px rgb(219, 71, 170);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 65px;
    font-weight: 400;
    text-align: center;
}
.descripcionProyectos{ /*Descripcion de proyectos, lo que está debajo del titulo principal*/
    margin-top: 0;
    padding-top: 0%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}
.figurasProyectos{ /*DIV PADRE de la zona de galeria de fotos*/
    max-width: 73%;
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;

}
.proyectosItem{ /*Div de cada imagen*/
    width: 300px;
    height: 300px;
    padding: 2%;
    margin-top: 3%;
    text-decoration: none;
    background-color: rgb(36, 36, 36);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.proyectosItem:hover { 
    border: 1px #e0fe47 solid;
}


.svgProyectos { /*Class de cada icono SVG*/
    width: 180px;
    height:180px;
  
}
.tamañoSvg{
    
}
.tituloIcono{ /*Titulo de cada imagen*/
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}
.linkIcono{
    text-decoration: none;
}
@media (max-width:1024px){
    .figurasProyectos{
        margin: 4% auto;
        max-width: 90%;
        justify-content: space-between;
    }
   .proyectosItem{
       max-width: 30%;
   }
        
}
@media (max-width:768px){
   .proyectosItem{
       margin-bottom: 3%;
       max-height: 220px;
   }
   .svgProyectos{
       max-width: 70%;
   }

}
@media (max-width: 630px){
    .figurasProyectos{
        max-width: 100%;
        margin: 1% auto;
        padding:0%;
        width: 90%;
    }
    .proyectosItem{
        height: 300px;
        width: 80%;
    }
    
}
@media (max-width:480px){
    .seccionProyectos{
        margin-top: 10%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .figurasProyectos{ 
        
        justify-content: space-between;
        max-width: 100%;
        margin: 1% auto;
        display: flex;
        margin-top: 10%;
        font-size: 1.2em;
    }
    .proyectosItem{ 
        max-width: 45%;
        max-height: 180px;
    }
   .tituloIcono{
       font-size: 0.9em;
   }
    
}
@media (max-width:320px){
    .tituloProyectos{

        font-size: 2.5em;
    }
    .seccionProyectos{
        margin-top: 30%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .figurasProyectos{ 
        justify-content: center;
        max-width: 100%;
        margin: 1% auto;
        display: flex;
        margin-top: 10%;
        font-size: 1.2em;
    }
    .proyectosItem{ 
        max-width: 100%;
        max-height: 220px;
    }
   .tituloIcono{
       font-size: 0.9em;
   }
}
 