.seccionProyectos{
    margin-top:0 ;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}
.tituloProyectos { 
    color: var(--color-titulo);
    text-shadow: var(--sombra-titulo);
    font-family: var(--fuente-titulo);
    letter-spacing: 1px;
    font-size: var(--tamaño-titulo);
    font-weight: 400;
    text-align: center;
}
.descripcionProyectos{ 
    margin-top: 0;
    padding-top: 0%;
    font-family: var(--fuente-descripcion);
    font-size: 20px;
    text-align: center;
    color: white;
}
.figurasProyectos{ 
    width: 73%;
    margin: 3% auto;
    margin-bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    padding-top: 10px;
    padding-bottom: 0%;
}
.proyectosItem{ 
    width: 300px;
    height: 300px;
    padding: 2%;
    margin-top: 3%;
    text-decoration: none;
    background-color: var(--fondo-cards);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proyectosItem:hover { 
    border: 1px #e0fe47 solid;
    color: #e0fe47;
}
.proyectosItem:hover .tituloIcono{
    color: #e0fe47;
}

.svgProyectos { 
    width: 180px;
    height:180px;
}

.tituloIcono{ 
    font-family: var(--fuente-descripcion);
    font-size: 20px;
    text-align: center;
    color: white;
}
.linkIcono{
    text-decoration: none;
}
@media (max-width:1300px){
    .figurasProyectos{
        margin: 4% auto;
        width: 90%;
        justify-content: space-between;
    }
   .proyectosItem{
       max-width: 30%;
   } 
}
@media (max-width:768px){
   .proyectosItem{
       margin-bottom: 3%;
       height: 220px;
   }
   .svgProyectos{
       width: 70%;
   }
}
@media (max-width: 630px){
    .figurasProyectos{
        max-width: 100%;
        margin: 1% auto;
        padding:0%;
        width: 90%;
    }
    .proyectosItem{
       max-height: 300px;
        width: 80%;
    }
}
@media (max-width:480px){
    .seccionProyectos{
        margin-top: 10%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .figurasProyectos{ 
        
        justify-content: space-between;
        max-width: 100%;
        margin: 1% auto;
        display: flex;
        margin-top: 10%;
        font-size: 1.2em;
    }
    .proyectosItem{ 
        max-width: 45%;
        max-height: 180px;
    }
   .tituloIcono{
       font-size: 0.9em;
   }  
}
@media (max-width:320px){
    .tituloProyectos{

        font-size: 2.5em;
    }
    .seccionProyectos{
        margin-top: 30%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .figurasProyectos{ 
        justify-content: center;
        max-width: 100%;
        margin: 1% auto;
        display: flex;
        margin-top: 10%;
        font-size: 1.2em;
    }
    .proyectosItem{ 
        max-width: 100%;
        max-height: 220px;
    }
   .tituloIcono{
       font-size: 0.9em;
   }
}
 