.seccionConocimientos{ 
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    padding-bottom: 100px;
}

.conocimientosTitulo{ 
    margin-top:0px ;
    color: var(--color-titulo);
    text-shadow: var(--sombra-titulo);
    font-family: var(--fuente-titulo);
    letter-spacing: 1px;
    font-size: var(--tamaño-titulo);
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
}
.descripcionConocimientos { 
    margin-top: 0;
    font-family: var(--fuente-descripcion);
    font-size: 20px;
    text-align: center;
    color: white;

}
.divSkills{ 
    width: 60%;
    margin: 4% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.itemSkills{ 
    width: 250px;
    height: 230px;
    padding: 2%;
    margin-top: 3%;
    background-color: var(--fondo-cards);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente-descripcion);
    font-size: 22px;
    text-align: center;
    color: white;
}
.itemSkills:hover{
    border: 1px #e0fe47 solid;
}
.itemSkills:hover{
    color: #e0fe47;
}
.skillSVG{ 
    width: 80px;
    height: 80px;
}


/************@media************/
@media (min-width:1670px){
    .divSkills{
        width: 45%;
        border: tomato solid 1px;
    }
}

@media (max-width:1234px){
    .divSkills{
        width: 80%;
    }
}
@media (max-width:768px){
    .divSkills{
        width: 85%;
    }
   .itemSkills{
       margin-bottom: 3%;
   }
}
@media (max-width:480px){
    .seccionConocimientos{
        margin-top: 10%;
    }
    .divSkills{ 
        width: 100%;
        margin: 4% auto;
        display: flex;
        margin-top: 10%;
    }
    .itemSkills{ 
        height: 200px;
        width: 45%;
        margin: 2%;
        padding: 0px;
        font-size: 1.3em;
    }
    
}
@media (max-width:320px){
    .conocimientosTitulo{
        font-size: 2.5em;
    }
    .itemSkills{
        width: 60%;
    }
}

@media (max-width: 630px){
    .divSkills{
        width: 100%;
        margin: 1% auto;
        padding:0%;
        width: 100%;
    }
    .itemSkills{
        height: 240px;
        width: 45%;
    }
    
}